.sectionHero {
    height: fit-content;
    width: 100%;
    direction: rtl;
    // margin: var(--margin-l-100) 0; // background-color: red;
    // justify-content: left;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: -4rem;
        
        // flex-direction: column;
        
        &__illustration {
            background-color: red;
            width: 10rem;
            height: 10rem;
            svg {
                width: 14rem;
                height: fit-content;

            }

            &--small {

                svg {
                    margin-top: 2rem;
                    width: 4rem;
                    height: fit-content;

                }
            }
        }

        &__title {
            &--small {
                font-size: 3rem;
                font-weight: lighter;
            }
        }

        &__infoCTA {
            // margin-left: -10rem;
            width: fit-content;
            // background-color: green;

            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // margin-left: 5%;
            // background-color: green;

            &__title {
                font-size: 1.8rem;
                font-weight: lighter;
                color: var(--nutral-100);
                margin-bottom: var(--margin-300);

            }

            &__text {
                //     max-width: 38rem;

                // }

                &__CTABox {

                    &__contactBtn {
                        padding: var(--padding-sm-300) var(--padding-m-100);
                        border-radius: var(--radius-200);
                        display: inline-block;
                        margin-bottom: var(--margin-sm-300);

                        // background: #fff;
                        color: var(--blue-100);
                        outline: 2px solid var(--blue-100);

                        &:hover {
                            outline: none;
                            color: #fff;
                            background: linear-gradient(to right, #5156B1, #76C8E2);
                        }
                    }

                    &__extraCTA {
                        color: var(--nutral-200);
                        font-size: 0.8rem;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                        // display: inline-block;
                    }
                }

                // &>:not(:last-child) {
                //     margin-bottom: var(--margin-300);
                // }
            }


        }

    }




}

// @media screen and (max-width:660px) {
//     .sectionHero {


//         &__content {
//             margin-left: 0;



//         }
//     }
// }

// @media screen and (max-width:490px) {
//     .sectionHero {
//         // background-color: red;
//         text-align: center;

//         &__content {
//             margin-left: 0;

//             &__illustration {
//                 display: none;
//             }


//             &__infoCTA {
//                 justify-content: center;
//                 align-items: center;



//             }

//         }
//     }
// }




@media screen and (max-width:780px) {
    .sectionHero {
        &--us {
            [class*="__content"] {
                flex-direction: column;

                [class*="__CTABox"] {
                    order: 1;
                    margin-bottom: var(--margin-800);
                }

                [class*="__infoCTA"] {
                    align-items: center;
                    order: 2;
                    text-align: center;

                    [class*="__text"] {
                        // background-color: red;
                        padding: 0;
                    }
                }

            }
        }
    }
}