.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 100%;
    direction: rtl;
    // background-color: coral;

    &>:not(:last-child) {
        margin-left: var(--margin-l-400);

    }

    .nav {

        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;
        height: fit-content;

        &>input[class*="__checkbox"] {
            display: none;
            z-index: 999999;
        }



        input[class*="__checkbox"] {
            cursor: pointer;
            opacity: 0;

            &:hover+[class*="__link"] {
                // color: var(--secondary-100);
            }

        }


        &__innerNav {
            // background-color: green;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;

            &>:not(:last-child) {
                margin-left: var(--margin-200);
            }

            &__item {
                height: fit-content;
                text-align: center;

                // background-color: blue;
                // [class*="__checkbox"]:hover~&__link {
                //     color: red;
                // }

                &__link {
                    display: inline-block;
                    height: fit-content;
                    padding: var(--padding-sm-300);
                    color: var(--blue-100);
                    color: var(--blue-100);
                    font-weight: bolder;
                    font-size: 1.2rem;

                }

                &:hover>a {
                    color: var(--secondary-100);
                }

                &:has(>[class*="--subnav"]) {

                    .nav__checkbox:not(:checked)~[class*="--subnav"] {
                        animation: hide 200ms ease-in-out;

                    }
                }

                &--active>a {
                    color: var(--active-100);
                }

                position: relative;

                [class*="__checkbox"] {
                    width: 100%;
                    height: 100%;
                    top: 0 !important;
                    left: 0 !important;
                    position: absolute;

                    &:checked {
                        &~.nav__innerNav--subnav {
                            display: flex !important;
                            opacity: 1;
                            visibility: visible;

                        }

                    }

                }
            }

            &--subnav {
                visibility: hidden;
                // display: none;
                opacity: 0;
                animation: show 200ms ease-in-out;
                // pointer-events: none;
                background-color: #fff;
                box-shadow: 0px 0px 15px -5px var(--blue-100);
                flex-direction: column;
                position: absolute;
                min-width: 10rem;
                top: 4rem;
                left: -1.4rem;
                border-radius: var(--radius-200);


                transition: opacity 2s, display 2s;

                [class*="__item"] {
                    // text-align: center;
                    // background-color: red;
                    width: 100%;
                    margin: 0;

                    &:not(:last-child) {
                        margin-bottom: var(--margin-100);
                    }
                }
            }

        }



    }





    &__weblink {

        &__logoBox {
            // background-color: red;
            width: 4rem;
            height: 4rem;
            // cursor: pointer;

            display: inline-flex;
            background-image: url(../icons/logo.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }



    &__whatsappBtn {
        display: inline;
        background-color: var(--secondary-100);
        padding: var(--padding-sm-300) var(--padding-sm-400);
        border-radius: var(--radius-200);
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;

        svg {
            display: none;
        }

        &:hover {
            background-color: #fff;
            color: var(--secondary-100);

            outline: 2px solid var(--secondary-100);


            svg {
                fill: var(--secondary-100);
            }
        }
    }


    &--blog {
        background-color: var(--blue-100);

        .nav {

            &>input[class*="__checkbox"] {}



            input[class*="__checkbox"] {


                &:hover+[class*="__link"] {}

            }


            &__innerNav {



                &>:not(:last-child) {}

                &__item {


                    [class*="__checkbox"]:hover~&__link {}

                    &>a[class*="__link"] {
                        color: #fff;
                    }

                    &:hover>a {
                        color: var(--secondary-100);
                    }

                    &:has(>[class*="--subnav"]) {

                        .nav__checkbox:not(:checked)~[class*="--subnav"] {}
                    }

                    &--active>a {
                        color: var(--active-200) !important;

                    }

                    position: relative;

                    [class*="__checkbox"] {



                        &:checked {
                            &~.nav__innerNav--subnav {}

                        }

                    }
                }

                &--subnav {
                    visibility: hidden;
                    // display: none;
                    opacity: 0;
                    animation: show 200ms ease-in-out;
                    // pointer-events: none;
                    background-color: #fff;
                    box-shadow: 0px 0px 15px -5px var(--blue-100);
                    flex-direction: column;
                    position: absolute;
                    min-width: 10rem;
                    top: 4rem;
                    left: -1.4rem;
                    border-radius: var(--radius-200);


                    transition: opacity 2s, display 2s;

                    [class*="__item"] {
                        &:hover>a {
                            color: var(--secondary-100);
                        }

                        [class*=__link] {
                            display: inline-block;
                            height: fit-content;
                            padding: var(--padding-sm-300);
                            color: var(--blue-100);
                            color: var(--blue-100);
                            font-weight: bolder;
                            font-size: 1.2rem;

                        }

                        &[class*="--active"]>a {
                            color: var(--active-100) !important;
                        }
                    }
                }

            }



        }

        [class*="__logoBox"] {
            background-image: url(../icons/logo-white.svg);
        }

    }

    // &--blog {
    //     background-color: var(--blue-100);

    //     a {
    //         color: #fff ;

    //         svg>* {
    //             stroke: #fff;
    //         }

    //         &:hover {
    //             color: var(--secondary-100);

    //             svg>* {
    //                 stroke: var(--secondary-100);

    //             }
    //         }
    //     }

    //     [class*="nav__link__sublist"] {
    //         color: var(--nutral-100);
    //     }


    //     [class*="__logoBox"] {
    //         background-image: url(../icons/logo-white.svg);
    //     }


    // }

}


@media screen and (max-width:1080px) {
    .header {
        &>:not(:last-child) {
            margin-left: var(--margin-400);
        }

        .nav {

            &__innerNav {
                &__item {
                    &__link {
                        font-size: 1rem;
                    }

                    [class*=--subnav] {
                        // background-color: red !important;
                        left: -2.2rem !important;

                    }
                }
            }
        }
    }
}

@media screen and (max-width:790px) {
    body:has(.nav>input:checked) {
        overflow: hidden !important;
    }

    .header {
        display: flex;
        justify-content: space-between;
        // background-color: red;
        align-items: center;
        // padding-left:2%;
        // padding-right:2%;
        // padding: var(--padding-sm-200) var(--padding-100) !important;
        padding: var(--padding-sm-300) var(--padding-sm-400) !important;
        height: fit-content;

        &__whatsappBtn {
            // order: 2;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 2rem;
            right: 2rem;
            width: 4rem;
            // float: right;
            height: 4rem;
            border-radius: 100%;
            z-index: 999;
            box-shadow: 0px 0px 15px -5px var(--blue-100);
            padding: 0;

            span {
                display: none;
            }

            svg {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                fill: #fff;
            }
        }

        .nav {
            // order: 3;

            // left: var(--padding-sm-300);
            left: var(--padding-sm-400);
            left: var(--margin-400);
            // left: 1rem;
        }

        &__weblink {
            // order: 1;
        }

        &>:not(:last-child) {
            margin: 0;
        }
    }

    .nav {
        height: 3rem !important;
        width: 3rem !important;
        // background-color: green;
        position: relative;
        background-color: #fff;
        border-radius: var(--radius-200);

        box-shadow: 0px 0px 15px -5px var(--blue-100);

        &>input[class*="__checkbox"] {
            display: inline-block !important;
            position: absolute;
            width: 3rem;
            height: 3rem;

        }

        &__lbl {

            // background-color: red;
            width: 2.2rem;
            height: .3rem;
            position: absolute;

            border-radius: var(--radius-200);
            background-color: var(--blue-100);

            &::after {
                content: " ";
                position: absolute;
                background-color: inherit;
                top: -10px;
                width: inherit;
                height: inherit;
                border-radius: inherit;

            }

            &::before {
                content: " ";
                position: absolute;
                background-color: inherit;
                bottom: -10px;
                width: inherit;
                height: inherit;
                border-radius: inherit;

            }

        }

        &__innerNav {


            // background-color: lightcoral !important;
            display: none !important;

            &--subnav {}
        }
    }

    .nav:has(>input:not(:checked)) {
        // position: absolute !important;
        // animation: showH 200ms ;

    }

    .nav {
        // transition: width 2s ease-in-out ,height 2s ease-in-out ,position 2s ease-in-out ;
        transition: all 200ms ease-in-out;
        // animation: showH 2s ease-in-out ;
        position: absolute;
        // left: 4rem;
    }

    .nav:has(>input:checked) {
        border-radius: 0;
        // animation: showH 2s ease-in-out ;



        width: 100% !important;
        height: 100% !important;
        position: absolute !important;
        // top: 8px;
        left: 0;
        top: 0;
        z-index: 99999;
        background: linear-gradient(right, #5156B1, #76C8E2);
        // background: red;
        margin: 0;

        label[class*="__lbl"],
        input[class*="__checkbox"] {
            top: 1rem;
            left: 1rem;
        }


        input[class*="__checkbox"] {
            // opacity: 0;
            // top: 3rem;
            // left: 3rem;

            // &:focus~label[class*="__lbl"] {

            //     &::before,
            //     &::after {
            //         background-color: var(--cancel-100) !important;

            //     }
            // }
        }

        label[class*="__lbl"] {

            background-color: transparent !important;
            // width: 2.2rem;
            // height: .3rem;

            top: calc(1rem + (0.4rem * 2));
            left: calc(1rem + (0.2rem * 2));
            // left: 3rem;

            // z-index: 9999999999999999999999999;

            &::before,
            &::after {
                background-color: #fff !important;

            }




            &::after {
                // top: calc((1 / 6) * (3rem + (0.68rem * 2)));

                // transform: rotateZ(45deg);
                transform: translateY(20px) rotateZ(45deg);

            }

            &::before {
                transform: rotateZ(-45deg);
            }


        }


        .nav__innerNav {
            display: flex !important;
            flex-direction: column;

            &>:not(:last-child) {
                margin: 0 0 var(--margin-100) 0;

            }

            &__item {
                min-width: 9rem;

                &:hover>a {
                    color: #a9fbff;
                }

                >a {
                    color: #fff;
                }

                &--active>a {
                    color: #87d2fb;
                }

            }

            &--subnav {
                z-index: 999999999999;
                // margin: 0;
                // padding: 0;
                display: none !important;
                position: unset;
                // left: 0;
                top: 100%;
                background-color: transparent;
                outline: 2px solid #fff;
            }

        }


    }
}



@keyframes show {
    from {
        opacity: 0;
        // visibility: hidden;
        // display: flex;
        display: none;
    }

    to {
        display: flex;
        opacity: 1;
        // visibility: visible;
    }
}

@keyframes hide {
    to {
        opacity: 0;
        // visibility: hidden;
        display: none;
    }

    from {
        display: flex;
        opacity: 1;
        // visibility: visible;
    }
}


@keyframes showH {
    from {
        // opacity: 0;
        // visibility: hidden;
        // display: flex;
        // display: none;
        // width: 1rem;
        // position: relative;
    }

    to {
        // display: flex;
        // opacity: 1;
        // position: absolute;
        // visibility: visible;
        width: 100%;
        height: 100%;
    }
}

@keyframes hideH {
    to {
        // opacity: 0;
        // visibility: hidden;
        // display: none;
    }

    from {
        width: 100%;
        // display: flex;
        // opacity: 1;
        // visibility: visible;
    }
}