.sectionServices {

    direction: rtl;
    // background-color: #fff;

    &__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: var(--gap-200);
        width: 100%;
        padding: var(--padding-100);
        place-content: center;
        place-items: center;

        max-width: var(--section-w200);
    }

}