:root {

    --blue-100: #5156B1;
    --blue-200: #898cce;
    --blue-300: #3f96c4;
    --blue-400: #5156B1;
    --blue-500: #006fff;


    --nutral-100: #4C505A;
    --nutral-200: #A1A5AE;
    --nutral-300: #EFF3FF;
    --nutral-400: #F3F5F8;
    --nutral-500: #F0F0F6;

    --nutral-600: #C7CACF;
    --nutral-700: #F0F0F6;
    --nutral-800: #EFF3FF;


    --secondary-100: #25D366;

    --active-100: #313236;
    --active-200: #00ffee;
}