:root {
    --radius-100: 0.2rem;
    --radius-200: 0.4rem;
    --radius-300: 0.6rem;
    --radius-400: 0.8rem;
    --radius-500: 1rem;
    --radius-600: 1.2rem;

    --input-w100: 6rem;
    --input-w200: 8rem;
    --input-w300: 12rem;
    --input-w400: 14rem;
    --input-w500: 16rem;

    --section-w100: 68rem;
    --section-w200: 80rem;
    --section-w300: 95rem;
    --section-w400: 100rem;


    --padding-sm-100: 0.2rem;
    --padding-sm-200: 0.3rem;
    --padding-sm-300: 0.6rem;
    --padding-sm-400: 1.5rem;

    --padding-100: 2rem;
    --padding-200: 4rem;
    --padding-300: 6rem;
    --padding-400: 8rem;

    --padding-m-100: 2.5rem;


    --margin-100: 0.4rem;
    --margin-200: 0.6rem;
    --margin-300: 0.8rem;
    --margin-400: 1rem;
    --margin-500: 1.2rem;
    --margin-600: 1.4rem;
    --margin-700: 1.6rem;
    --margin-800: 1.8rem;
    --margin-m-100: 2.4rem;
    --margin-l-100: 2rem;
    --margin-l-200: 3rem;
    --margin-l-300: 4rem;
    --margin-l-400: 6rem;
    --margin-l-500: 8rem;

    --gap-100: 1rem;
    --gap-200: 1.6rem;
    --gap-300: 1.8rem;
    --gap-400: 2rem;
    --gap-500: 2.2rem;


    --cancel-100: red;

}