.pricingCard,
.pricingCardLand {
    width: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-400);
    font-family: 'Markazi Text', serif;
    box-shadow: 0px 0px 15px -5px var(--blue-100);
    // box-shadow: 5px 5px 5px black;
    // background-color: red;
    direction: rtl;
    transition: all 100ms ease-in-out;
    text-align: center;

    min-width: fit-content;
    &:hover {
        transform: scale(1.2);
        z-index: 999999;
    }

    &__head {

        &__title {
            margin: var(--margin-300) 0 var(--margin-100) 0;
            color: var(--blue-100);
        }

        &__description {
            color: var(--nutral-200);
        }

        &__priceBox {
            background-color: var(--nutral-100);
            color: #fff;
            border-radius: var(--radius-200);
            border: 2px solid var(--nutral-100);
            display: flex;
            align-items: center;
            // justify-content: end;
            width: fit-content;
            direction: ltr;
            padding: 0 0 0 var(--padding-sm-300);
            margin: var(--margin-200) 0 var(--margin-600) 0;

            // height: 5rem;
            font-size: 1.8rem;

            &__buyCTA {
                background-color: #fff;
                border-radius: inherit;
                text-decoration: none;
                padding: var(--padding-sm-200) var(--padding-sm-400);
                color: var(--nutral-100);
                margin-left: var(--padding-sm-300);

                &:hover {
                    // color: var(--nutral-100);
                    background-color: var(--nutral-300);
                    // outline:inset 2px solid #fff;

                }

                &:active {
                    background-color: var(--nutral-200);
                    color: var(--nutral-300)
                }

            }



            // margin-bottom: var(--margin-100);
        }
    }


    &__details {
        background-color: var(--nutral-100);
        color: var(--nutral-300);
        stroke: var(--nutral-300);
        border-radius: 0 0 var(--radius-400) var(--radius-400);
        padding: var(--padding-m-100) var(--padding-100);
        clip-path: polygon(0 0, 45% 0, 50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0);

        &__item {
            display: flex;
            justify-content: start;
            align-items: center;
            // background-color: red;

            &:not(:last-child) {
                margin-bottom: var(--margin-100);

            }

            &__icon {
                margin-left: var(--margin-100);
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    stroke-width: 2px;
                    width: .8rem;
                    // height: 2px;
                }
            }
        }
    }



}

.pricingCardLand {
    flex-direction: row;

    &__head {
        padding: 0 2rem;
    }

    &__details {
        // clip-path: polygon(0 0, 45% 0, 50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0);
        border-radius: var(--radius-400) 0 0 var(--radius-400);
        clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%, 0 0);

    }


}